<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link th:href="@{/style/local.css}" rel="stylesheet"></link>
</head>

<body>
<div class="fixed-header">
    <div class="application-name">
        <div>
            Patient Diagnosis App
        </div>
        <div class="facility-name">
            Karungu Sub-County Hospital(13567)
        </div>
    </div>
</div>
<div class="container my-5">
    <h3> Register patient</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/patient/add}" th:object="${patient}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">First Name</label> <input type="text" th:required="required" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name"> <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="middleName" class="col-form-label">Middle Name</label> <input type="text" th:required="required" th:field="*{middleName}" class="form-control" id="middleName" placeholder="Middle Name"> <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last Name</label> <input type="text" th:required="required" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name"> <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="sex" class="col-form-label">Sex</label>
                            <select th:field="*{sex}" class="form-control" id="sex" th:required="required">
                                <option value="">Please select...</option>
                                <option th:value="'male'" th:text="Male"></option>
                                <option th:value="'female'" th:text="Female"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="text-danger"></span>                        </div>
                        <div class="form-group col-md-8">
                            <label for="dob" class="col-form-label">DOB</label> <input type="date" th:field="*{dob}" th:required="required" class="form-control" id="dob" placeholder="DOB"> <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="phoneNumber" class="col-form-label">Phone No</label> <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Phone No"> <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="county" class="col-form-label">County</label> <input type="text" th:field="*{county}" class="form-control" id="county" placeholder="County"> <span th:if="${#fields.hasErrors('county')}" th:errors="*{county}" class="text-danger"></span>
                            <label for="subCounty" class="col-form-label">Sub-County</label> <input type="text" th:field="*{subCounty}" class="form-control" id="subCounty" placeholder="Sub-County"> <span th:if="${#fields.hasErrors('subCounty')}" th:errors="*{subCounty}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="county" class="col-form-label">Patient No</label> <input type="text" th:field="*{patientNumber}" th:required="required" class="form-control" id="patientNumber" placeholder="Patient No"> <span th:if="${#fields.hasErrors('patientNumber')}" th:errors="*{patientNumber}" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" style="background-color: cadetblue" value="Save Details">
                            <input type="button" onclick="window.history.back()" class="btn btn-primary" style="background-color: cadetblue" value="Cancel">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>