<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Patient Visits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link th:href="@{/style/local.css}" rel="stylesheet"></link>
</head>

<body>
<div class="fixed-header">
    <div class="application-name">
        <div>
            Patient Diagnosis App
        </div>
        <div class="facility-name">
            Karungu Sub-County Hospital(13567)
        </div>
    </div>
</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${visits}" class="container my-5">
                <p class="my-5">

                    <a href="/patient/register" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Back to triage page</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Doctor yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Visit Date</th>
                                <th>Complaints</th>
                                <th>Diagnosis</th>
                                <th>Specialities</th>
                                <th>Doctor</th>
                                <th>Doctor Specialization</th>
                                <th>Appointment Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="visit : ${visits}">
                                <td th:text="${visit.visitDate}"></td>
                                <td th:text="${visit.complaints}"></td>
                                <td th:text="${visit.diagnosis}"></td>
                                <td th:text="${visit.diagnosisSpecialization}"></td>
                                <td th:text="${visit.doctor.firstName}"></td>
                                <td th:text="${visit.doctor.specialization}"></td>
                                <td th:text="${visit.appointmentDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>